{"configSettings":[{"appID":"538150881296991","serverToken":""},{"appID":"SharedServerToken","serverToken":"Q726UPJTZLKEYEFB544QAOPEISU6HRYF"},{"appID":"1048911663275513","serverToken":"QROW2UV5JA25A2FZBETXIUHKOMZDLB4N"},{"appID":"8823146851047656","serverToken":"Q726UPJTZLKEYEFB544QAOPEISU6HRYF"}]}